<h1 class="mt-4">Planos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrum-bitem active">Consulta</li>
</ol>
<div class="container">
    <form #consultaForm="ngForm" (submit)="consultar()">
        <div class="row">
            <div class="col-md-6">
                <label for="inputNome">Nome do plano:</label>
                <input type="text" [(ngModel)]="nome"
                       name="nome" class="form-control"
                       id="inputNome">
            </div>

        </div>

        <br />

        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i> Consultar
                </button>

                <button type="button"
                        routerLink="/plano/form"
                        class="btn btn-warning ml-1">
                    <i class="fa fa-plus"></i> Novo
                </button>
            </div>
        </div>
    </form>

    <br />
    <div class="row">
        <div class="alert alert-warning" role="alert" *ngIf="message">
            {{ message }}
        </div>
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Valor</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let plano of lista" >
                        <td>{{ plano.nome }} </td>
                        <td>{{ plano.valor }} </td>
                      <td>
                        <button class="btn btn-primary"
                                routerLink="/plano/form/{{ plano.id }}">
                          <i class="fa fa-edit"></i>
                        </button>
                      </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
